<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<html>
    <head>
        <title>K-ARCADE</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=[클라이언트ID]"></script>
    </head>
    <body>
        <%- include("partials/navbar") %>
        <% let center = {} %>
        <% for (let i = 0; i < locations.length; i++) { %>
            <% if (locations[i]['name'] === name) { %>
                <% center = locations[i]; %>
                <% break; %>
            <% } %>
        <% } %>
        <h1 class="mt-5 p-3"><%= center['name'] %></h1>
        <p class="p-3"><%= center['location'] %></p>
        <div id="map" style="width:100%;height:300px;"></div>
        <div class="container-fluid pt-4 mt-5">
            <h3 class="p-3">보유 게임</h3>
              <% for (let k = 0; k < games.length; k += 4) { %>
              <div class="row justify-content-center">
                <% for (let j = 0; j < 4; j++) { %>
                <%if (k+j >= games.length) { break; }; %>
                <% const i = j + k; %>
                <%if (!center['games'].includes(games[i]['title'])) { %>
                  <% k++; %>
                  <% j--; %>    
                  <% continue; %>
                <% }; %>
                  <div class="card col-lg" style="max-width: 25rem; margin: 0.5rem">
                      <img class="card-img-top" src="<%= `${games[i]['image']}` %>" alt="Card image cap" style="height: 14rem;">
                      <div class="card-body">
                        <h5 class="card-title"><%= `${games[i]['title']}` %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= `${games[i]['company']}` %></h6>
                        <p class="card-subtitle text-muted" style="font-size: 0.75rem;"><%= `${games[i]['genre']}` %></p>
                      </div>
                  </div>
                <% } %>
              </div>
              <% } %>
          </div>
        <script>
        var lat = "<%= center['lal'][0] %>";
        var lon = "<%= center['lal'][1] %>";
        var mapOptions = {
            center: new naver.maps.LatLng(lat, lon),
            zoom: 17
        };

        var map = new naver.maps.Map('map', mapOptions);

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(lat, lon),
            map: map
        });
        
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>